{% extends "base.html" %}

{% block body %}
<div class="container mt-5">
    <!-- Titel en Beschrijving -->
    <div class="text-center mb-5">
        <h1 class="fw-bold text-primary">Theorie</h1>
        <p class="text-muted fs-5"> Lorem ipsum</p>
    </div>

    <!-- Loading Spinner -->
    <div id="loading-spinner" class="text-center my-4" style="display: none;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Laden...</span>
        </div>
    </div>

    <!-- Boeken Widgets -->
    <div class="row" id="results" hx-get="{{ url_for('search') }}" hx-trigger="load">
        {% for theorie in theorien %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">
                <img src="/static/upload/{{ theorie.theorie_nummer }}.jpg" class="card-img-top" alt="theorie_kader">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">{{ theorie.titel }}</h5>
                    <h5 class="card-title text-center">{{ theorie.vak }}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}